@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ForgotPasswordConfirmation
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ForgotPasswordConfirm"];
}

<h2>@ViewData["Title"]</h2>
<p>
    @Localizer["CheckEmailMsg"]
</p>

